<p class="book-form-heading">Edit book</p>
<form [formGroup]="bookFormGroup">
    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" formControlName="title" placeholder="Enter title">
    </div>
    <div class="form-group">
        <label>Author</label>
        <input type="text" class="form-control" formControlName="author" placeholder="Enter author">
    </div>
    <div class="form-group">
        <label>Category</label>
        <select class="form-control" formControlName="categoryId">
            <option *ngFor="let bookCategroy of bookCategories" value="{{bookCategroy.id}}">{{bookCategroy.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label>Price</label>
        <input type="number" formControlName="price" class="form-control" placeholder="Enter price">
    </div>
    <div class="col-md-12">
        <button type="submit" class="btn btn-primary" (click)="updateBook()">Submit</button>
    </div>
</form>
<br>
<div class="row">
    <div class="col-md-2"> 
        <button class="btn btn-primary" (click)="log()">Log</button>
    </div>
</div>